@import "general/classes";
@import "components/ui";
@import "helpers/helper";


.box{
    background-color: #ffc907;
}
.block{
    height: 500px;
}

@media (max-width: 1200px) {
    .container{
        width: 80vw;
    }
}